*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  box-sizing: inherit;
  font-family: 'Taviraj', serif;
  font-size: 62.5%;
  scroll-behavior: smooth !important;
  overflow-x: hidden; }

.secondary-heading {
  color: #c0392b;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  font-size: 2.7rem;
  letter-spacing: 3px; }

.section-spacing {
  padding: 7rem 10rem; }

.visible {
  display: block !important; }

.hidden {
  display: none !important; }

.header__open {
  display: none; }

.header__close {
  display: none; }

.header .main-nav {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 9999;
  justify-content: center;
  padding: 1rem 0;
  background-color: #1f1f1f; }
  .header .main-nav ul {
    display: flex;
    list-style: none; }
    .header .main-nav ul .space {
      margin: 0 15rem; }
    .header .main-nav ul a:link,
    .header .main-nav ul a:visited {
      text-decoration: none;
      color: #fff;
      transition: color .2s ease; }
    .header .main-nav ul a:hover {
      color: #e74c3c; }
    .header .main-nav ul li {
      margin: 0 1rem;
      font-size: .8rem;
      letter-spacing: 3px;
      font-weight: 700;
      text-transform: uppercase; }

.header .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/clem-onojeghuo-8soQzdz9XXA-unsplash-min.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .header .hero__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    text-shadow: 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.5); }
    .header .hero__text span {
      color: #c0392b; }
    .header .hero__text h1 {
      font-family: 'Rock Salt', cursive;
      font-size: 7rem;
      letter-spacing: 2px;
      animation: enterLeft 2s ease; }
      .header .hero__text h1 span {
        color: #c0392b; }
    .header .hero__text h2 {
      margin-top: -2rem;
      font-size: 1.5rem;
      font-weight: 200;
      font-style: italic;
      animation: enterRight 2s ease; }

.header .arrow {
  position: absolute;
  left: 50%;
  bottom: 10%; }
  .header .arrow span {
    display: block;
    width: 2rem;
    height: 2rem;
    border-bottom: 2px solid #c0392b;
    border-right: 2px solid #c0392b;
    transform: rotate(45deg);
    margin: -1rem;
    animation: arrowDown 2s infinite; }
    .header .arrow span:nth-child(2) {
      animation-delay: -0.2s;
      transform: rotate(45deg) translate(-2rem, -2rem); }
    .header .arrow span:nth-child(3) {
      animation-delay: -0.4s; }

@keyframes enterRight {
  0% {
    transform: translateX(5rem); }
  100% {
    transform: translateX(0); } }

@keyframes enterLeft {
  0% {
    transform: translateX(-5rem); }
  100% {
    transform: translateX(0); } }

@keyframes arrowDown {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-2rem, -2rem); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(2rem, 2rem); } }

.services {
  background-color: #1f1f1f; }
  .services h2 {
    color: #fff; }
  .services .services__content {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1.5rem;
    text-align: center;
    margin-top: 6rem; }
    .services .services__content--item h3 {
      font-size: 1.8rem;
      color: #c0392b; }
    .services .services__content--item i {
      font-size: 3rem;
      margin: 1rem 0;
      color: #c0392b; }
    .services .services__content--item p {
      font-size: 1rem;
      color: #fff; }

.gallery {
  background-color: #e0e0e0; }
  .gallery .gallery__content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 24rem));
    grid-auto-rows: 1fr;
    grid-gap: 3rem;
    justify-content: center; }
    .gallery .gallery__content-item {
      justify-self: center;
      align-self: center;
      overflow: hidden;
      transition: all .5s .2s ease; }
      .gallery .gallery__content-item img {
        width: 20rem;
        height: 15rem;
        transition: all 1s ease; }
    .gallery .gallery__content-item:hover img {
      transform: scale(1.4); }
    .gallery .gallery__content-item:hover {
      border: 2px solid #c0392b; }

.artists {
  background-color: #1f1f1f; }
  .artists__content {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    height: 55rem; }
    .artists__content:hover .screen {
      opacity: .3; }
    .artists__content .screen:hover {
      flex-grow: 6;
      opacity: 1; }
    .artists__content .screen {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-grow: 2;
      overflow: hidden;
      transition: 1s; }
      .artists__content .screen:nth-child(1) {
        background-image: url("../assets/optimized/artists/dmitriy-nushtaev-iMfu0nKMyeI-unsplash-min.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .artists__content .screen:nth-child(2) {
        background-image: url("../assets/optimized/artists/jake-davies-gEPjoFmAw4s-unsplash-min.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .artists__content .screen:nth-child(3) {
        background-image: url("../assets/optimized/artists/felipe-sagn-2xd0_6wEj6k-unsplash-min.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .artists__content .screen:nth-child(4) {
        background-image: url("../assets/optimized/artists/julian-florez-l5rmMuK8070-unsplash-min.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .artists__content .screen:nth-child(5) {
        background-image: url("../assets/optimized/artists/paola-aguilar-03vJWwzUE-4-unsplash-min.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .artists__content .screen .text {
        position: absolute;
        width: 15rem;
        height: auto;
        background-color: #fff;
        padding: 2.5rem;
        transform: translateX(120%);
        transition: .5s .4s;
        text-align: justify; }
        .artists__content .screen .text h3 {
          font-size: 1.4rem;
          color: #c0392b;
          font-family: 'Rock Salt', cursive; }
        .artists__content .screen .text p {
          font-size: 1rem; }
    .artists__content .screen:hover .text {
      transform: translateX(0); }

.parallax {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../assets/daria-tumanova-mmYyzczxvdo-unsplash-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .parallax h3 {
    font-size: 2.5rem;
    color: #ecf0f1;
    letter-spacing: 1px;
    text-shadow: 1rem 0.7rem 1rem rgba(0, 0, 0, 0.8);
    text-align: center; }
    .parallax h3 span {
      color: #c0392b; }

.location .location__content {
  margin-top: 4rem; }
  .location .location__content--text p {
    font-size: 2rem;
    text-align: center;
    margin-top: 7rem;
    color: #c0392b; }
  .location .location__content .map {
    height: 40rem;
    width: auto; }

.footer {
  height: auto;
  background-color: #1f1f1f;
  padding: 3rem 3rem; }
  .footer__container {
    display: flex;
    justify-content: space-between; }
    .footer__container h3 {
      font-size: 2rem;
      font-family: 'Rock Salt', cursive;
      color: #fff; }
      .footer__container h3 span {
        color: #c0392b; }
    .footer__container .footer__left {
      text-align: center;
      width: 33.3%;
      margin: 0 3rem; }
      .footer__container .footer__left p {
        margin-top: 2rem;
        font-size: 1rem;
        color: #fff; }
    .footer__container .footer__center {
      text-align: center;
      width: 33.3%;
      margin: 0 3rem; }
      .footer__container .footer__center p {
        font-size: 1rem;
        color: #fff;
        margin-top: 2rem; }
      .footer__container .footer__center--sm {
        display: flex;
        margin-top: 3rem;
        justify-content: center; }
        .footer__container .footer__center--sm i {
          font-size: 2rem;
          color: #fff;
          margin: 0 2rem;
          display: inline-block;
          border-radius: 50%;
          box-shadow: 0px 0px 2px #fff;
          padding: 0.2em 0.4em;
          transition: all .3s ease; }
        .footer__container .footer__center--sm i:hover {
          color: #c0392b;
          box-shadow: 0px 0px 2px #c0392b; }
    .footer__container .footer__right {
      text-align: center;
      width: 33.3%;
      margin: 0 3rem; }
      .footer__container .footer__right p {
        font-size: 1rem;
        color: #fff;
        margin-top: 2rem; }
        .footer__container .footer__right p a:link,
        .footer__container .footer__right p a:visited {
          color: #c0392b;
          text-decoration: none; }

@media only screen and (max-width: 1300px) {
  .header .main-nav {
    padding: 1rem 0; }
    .header .main-nav ul .space {
      margin: 0 3rem; }
    .header .main-nav ul li {
      margin: 0 2rem;
      font-size: .6rem; }
  .header .hero {
    background-position: center; }
    .header .hero__text h1 {
      font-size: 4rem; }
    .header .hero__text h2 {
      font-size: 1rem; }
  .header .arrow span {
    width: 1.2rem;
    height: 1.2rem;
    animation: arrowDown 4s infinite; }
  .services {
    padding: 5rem 8rem; }
    .services h2 {
      font-size: 2rem; }
    .services .services__content {
      grid-template-columns: repeat(2, minmax(15rem, 1fr));
      grid-gap: 2rem; }
      .services .services__content--item h3 {
        font-size: 1.4rem; }
      .services .services__content--item i {
        font-size: 2rem; }
      .services .services__content--item p {
        font-size: 1rem; }
  .gallery {
    padding: 7rem 4rem; }
    .gallery .gallery__content {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 22rem));
      grid-auto-rows: 1fr; }
  .artists {
    padding: 7rem 7rem; }
    .artists__content {
      height: 50rem; }
      .artists__content .screen:hover {
        flex-grow: 6; }
      .artists__content .screen .text {
        width: 15rem;
        height: auto;
        background-color: #fff;
        padding: 2rem; }
        .artists__content .screen .text h3 {
          font-size: 1rem; }
        .artists__content .screen .text p {
          font-size: .8rem; }
  .location .location__content--text p {
    font-size: 1.3rem;
    margin-top: 2rem; }
  .footer {
    height: auto;
    width: 100%;
    background-color: #1f1f1f;
    padding: 3rem 0; }
    .footer__container {
      width: 100%; }
      .footer__container .footer__left {
        margin: 0 1rem; }
        .footer__container .footer__left p {
          margin-top: .4rem; }
      .footer__container .footer__center {
        margin: 0 1rem; }
        .footer__container .footer__center p {
          margin-top: 0; }
        .footer__container .footer__center--sm {
          margin-top: 1rem; }
          .footer__container .footer__center--sm i {
            font-size: 1.4rem;
            color: #fff;
            margin: 0 1rem; }
      .footer__container .footer__right {
        margin: 0 1rem; }
        .footer__container .footer__right p {
          margin-top: .4rem; } }

@media only screen and (max-width: 950px) {
  .header .main-nav {
    padding: 1rem 0; }
    .header .main-nav ul .space {
      display: none; }
    .header .main-nav ul li {
      margin: 0 1rem; }
  .services {
    padding: 4rem 5rem; }
    .services h2 {
      font-size: 1.5rem; }
    .services .services__content {
      grid-gap: 1.5rem; }
      .services .services__content--item h3 {
        font-size: 1.2rem; }
      .services .services__content--item i {
        font-size: 1.5rem; }
      .services .services__content--item p {
        font-size: 1rem; }
  .gallery {
    padding: 7rem 0; }
    .gallery .gallery__content {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 22rem));
      grid-auto-rows: 1fr; }
  .artists {
    padding: 7rem 4rem; }
    .artists__content {
      height: 50rem; }
      .artists__content .screen:hover {
        flex-grow: 6; }
      .artists__content .screen .text {
        width: 15rem;
        height: auto;
        background-color: #fff;
        padding: 2rem;
        text-align: center; }
        .artists__content .screen .text h3 {
          font-size: 1rem; }
        .artists__content .screen .text p {
          font-size: .8rem; }
  .parallax {
    height: 20rem; }
    .parallax h3 {
      font-size: 1.5rem;
      padding: 0 3rem; }
      .parallax h3 span {
        color: #c0392b; }
  .location {
    padding: 3rem 4rem; }
    .location .location__content--text p {
      font-size: 1.3rem;
      margin: 2rem 0; } }

@media only screen and (max-width: 768px) {
  .header__close {
    background-color: #fff;
    border-radius: 50%;
    padding: 0 1rem;
    display: block;
    position: fixed;
    right: 10%;
    margin-top: 1rem;
    font-size: 2.4rem;
    color: #c0392b;
    cursor: pointer;
    display: none;
    z-index: 500;
    transition: color .7s ease-out; }
  .header__close:hover {
    background-color: #c0392b;
    color: #fff; }
  .header__open {
    background-color: #fff;
    border-radius: 50%;
    padding: .2rem 1rem;
    display: block;
    position: fixed;
    right: 10%;
    margin-top: 1rem;
    font-size: 2rem;
    color: #c0392b;
    cursor: pointer;
    z-index: 500;
    transition: color .7s ease-out; }
  .header__open:hover {
    background-color: #c0392b;
    color: #fff; }
  .header .main-nav {
    position: fixed;
    height: 100vh;
    z-index: 300;
    background-color: #1f1f1f;
    opacity: .8;
    display: none; }
    .header .main-nav ul {
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .header .main-nav ul li {
        margin: 3rem 0;
        font-size: .8rem; }
  .services {
    padding: 4rem 3rem; }
    .services h2 {
      font-size: 1.5rem; }
    .services .services__content {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      grid-gap: 1.5rem; }
      .services .services__content--item h3 {
        font-size: 1.2rem; }
      .services .services__content--item i {
        font-size: 1.5rem; }
      .services .services__content--item p {
        font-size: 1rem; }
  .artists {
    padding: 7rem 2rem; }
    .artists__content {
      height: 30rem; }
      .artists__content .screen:hover {
        flex-grow: 9; }
      .artists__content .screen .text {
        width: 10rem;
        height: auto;
        background-color: #fff;
        padding: .5rem;
        text-align: center; }
        .artists__content .screen .text h3 {
          font-size: 1rem; }
        .artists__content .screen .text p {
          font-size: .8rem; }
  .location {
    padding: 3rem 2rem; }
    .location .location__content .map {
      height: 20rem;
      width: auto; }
  .footer {
    height: auto;
    width: 100%;
    background-color: #1f1f1f;
    padding: 3rem 0; }
    .footer__container {
      width: 100%;
      flex-direction: column;
      align-items: center; }
      .footer__container .footer__left {
        padding: 2rem;
        width: 100%; }
        .footer__container .footer__left p {
          margin-top: .4rem; }
      .footer__container .footer__center {
        padding: 2rem;
        width: 100%; }
        .footer__container .footer__center p {
          margin-top: 0; }
        .footer__container .footer__center--sm {
          margin-top: 1rem; }
          .footer__container .footer__center--sm i {
            font-size: 1.4rem;
            color: #fff;
            margin: 0 1rem; }
      .footer__container .footer__right {
        width: 80%; }
        .footer__container .footer__right p {
          margin-top: .4rem; } }

@media only screen and (max-width: 480px) {
  .header .main-nav {
    z-index: 500 !important; }
  .header .hero__text h1 {
    font-size: 2.5rem; }
  .header .hero__text h2 {
    margin-top: .2rem;
    font-size: .8rem; }
  .services {
    padding: 4rem 2rem; }
    .services h2 {
      font-size: 1.4rem; }
    .services .services__content {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      grid-gap: 1.5rem; }
      .services .services__content--item h3 {
        font-size: 1.2rem; }
      .services .services__content--item i {
        font-size: 1.5rem; }
      .services .services__content--item p {
        font-size: 1rem; }
  .artists {
    padding: 7rem 1rem;
    height: auto; }
    .artists__content {
      display: block;
      height: auto; }
      .artists__content:hover .screen {
        opacity: 1; }
      .artists__content .screen {
        display: block;
        width: 100%;
        height: 100%; }
        .artists__content .screen:nth-child(1), .artists__content .screen:nth-child(2), .artists__content .screen:nth-child(3), .artists__content .screen:nth-child(4), .artists__content .screen:nth-child(5) {
          height: 40rem;
          width: 100%;
          background-position: top;
          display: flex;
          justify-content: center;
          margin-top: 2rem; }
        .artists__content .screen .text {
          width: 100%;
          height: auto;
          background-color: #fff;
          padding: 1rem;
          text-align: center;
          transform: translateX(0); }
          .artists__content .screen .text h3 {
            font-size: 1.5rem; }
          .artists__content .screen .text p {
            font-size: 1rem; }
  .parallax {
    background-position: center; }
  .location {
    padding: 3rem 1rem; }
    .location .location__content--text p {
      font-size: 1rem;
      margin: 1rem 0; } }
